In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
data=pd.read_csv(r"C:\Users\Rano's PC\Machine\ðŸ’»data-science-projects\cricket talent prediction\cricket_data.csv",encoding='ISO-8859-1')

In [14]:
data.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Player_URL
0,SR TendulkarÂ (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,http://stats.espncricinfo.com/ci/content/playe...
1,KC SangakkaraÂ (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,http://stats.espncricinfo.com/ci/content/playe...
2,RT PontingÂ (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,http://stats.espncricinfo.com/ci/content/playe...
3,ST JayasuriyaÂ (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,http://stats.espncricinfo.com/ci/content/playe...
4,DPMD JayawardeneÂ (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,http://stats.espncricinfo.com/ci/content/playe...

In [15]:
data.shape

(2589, 14)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589 entries, 0 to 2588
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Player      2589 non-null   object
 1   Span        2589 non-null   object
 2   Mat         2589 non-null   int64
 3   Inns        2589 non-null   object
 4   NO          2589 non-null   object
 5   Runs        2589 non-null   object
 6   HS          2589 non-null   object
 7   Ave         2589 non-null   object
 8   BF          2589 non-null   object
 9   SR          2589 non-null   object
 10  100         2589 non-null   object
 11  50          2589 non-null   object
 12  0           2589 non-null   object
 13  Player_URL  2589 non-null   object
dtypes: int64(1), object(13)
memory usage: 283.3+ KB

In [17]:
data.isnull().sum()

Player        0
Span          0
Mat           0
Inns          0
NO            0
Runs          0
HS            0
Ave           0
BF            0
SR            0
100           0
50            0
0             0
Player_URL    0
dtype: int64

In [18]:
data=data[data['Mat']>100]

In [19]:
data.shape

(260, 14)

In [20]:
data.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Player_URL
0,SR TendulkarÂ (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,http://stats.espncricinfo.com/ci/content/playe...
1,KC SangakkaraÂ (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,http://stats.espncricinfo.com/ci/content/playe...
2,RT PontingÂ (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,http://stats.espncricinfo.com/ci/content/playe...
3,ST JayasuriyaÂ (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,http://stats.espncricinfo.com/ci/content/playe...
4,DPMD JayawardeneÂ (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,http://stats.espncricinfo.com/ci/content/playe...

In [21]:
data.drop(columns=['Player_URL'],inplace=True)

In [22]:
data.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR TendulkarÂ (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC SangakkaraÂ (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT PontingÂ (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST JayasuriyaÂ (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34
4,DPMD JayawardeneÂ (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28

In [23]:
data.rename(columns={'Mat':'matches','Inns':'innings','NO':'not outs','Runs':'runs','HS':'highest score','Ave':'average','BF':'balls faced','SR':'strike rate',
                     '100':'centuries','50':'half centuries','0':'ducks'},inplace=True)

In [24]:
data['country']=data['Player'].str.split("(",expand=True)[1]

In [25]:
data['country']=data['country'].str.replace(")","")

In [26]:
data['country'].value_counts()

country
WI                29
INDIA             26
PAK               26
AUS               25
SL                20
NZ                20
ENG               17
SA                14
ZIM               12
BDESH              8
Afr/SA             7
Asia/INDIA         7
Asia/SL            5
IRE                5
AUS/ICC            5
Afr/ZIM            4
ENG/ICC            3
Asia/PAK           3
Asia/BDESH         3
ICC/NZ             3
AFG                2
Afr/KENYA          2
ICC/WI             2
Asia/ICC/INDIA     2
Asia/ICC/PAK       2
Asia/ICC/SL        2
Afr/ICC/SA         2
ENG/IRE            1
AUS/SA             1
KENYA              1
ICC/SA             1
Name: count, dtype: int64

In [27]:
def clean_country(raw):
    ignore = ['Afr', 'Asia', 'ICC', 'XI']
    parts = raw.split('/')
    
    # Filter out generic tokens
    parts = [p.strip().upper() for p in parts if p.strip().upper() not in ignore]
    
    # Handle specific combinations
    if raw == 'ENG/IRE':
        return 'IRE'
    elif raw == 'AUS/SA':
        return 'SA'
    
    # If only one valid country remains
    if len(parts) == 1:
        return parts[0]
    elif len(parts) >= 2:
        return parts[-1]  # default: keep the last valid country
    else:
        return None

In [28]:
data['country']=data['country'].apply(clean_country)

In [29]:
data['country'].value_counts()

country
INDIA    35
PAK      31
WI       31
AUS      30
SL       27
SA       25
NZ       23
ENG      20
ZIM      16
BDESH    11
IRE       6
KENYA     3
AFG       2
Name: count, dtype: int64

In [30]:
country_map = {
    'INDIA': 'India',
    'PAK': 'Pakistan',
    'WI': 'West Indies',
    'AUS': 'Australia',
    'SL': 'Sri Lanka',
    'SA': 'South Africa',
    'NZ': 'New Zealand',
    'ENG': 'England',
    'ZIM': 'Zimbabwe',
    'BDESH': 'Bangladesh',
    'IRE': 'Ireland',
    'KENYA': 'Kenya',
    'AFG': 'Afghanistan'
}

In [31]:
data['country']=data['country'].map(country_map)

In [32]:
data.head()

,Player,Span,matches,innings,not outs,runs,highest score,average,balls faced,strike rate,centuries,half centuries,ducks,country
0,SR TendulkarÂ (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,India
1,KC SangakkaraÂ (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,Sri Lanka
2,RT PontingÂ (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,Australia
3,ST JayasuriyaÂ (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,Sri Lanka
4,DPMD JayawardeneÂ (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,Sri Lanka

In [33]:
data.drop(columns='Player',inplace=True)

In [34]:
data[['start','end']]=data['Span'].str.split("-",expand=True)

In [35]:
data.head()

,Span,matches,innings,not outs,runs,highest score,average,balls faced,strike rate,centuries,half centuries,ducks,country,start,end
0,1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,India,1989,2012
1,2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,Sri Lanka,2000,2015
2,1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,Australia,1995,2012
3,1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,Sri Lanka,1989,2011
4,1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,Sri Lanka,1998,2015

In [36]:
data['start']=data['start'].astype(int)

In [37]:
data['end']=data['end'].astype(int)

In [38]:
data['duration']=data['end']-data['start']

In [39]:
data.columns

Index(['Span', 'matches', 'innings', 'not outs', 'runs', 'highest score',
       'average', 'balls faced', 'strike rate', 'centuries', 'half centuries',
       'ducks', 'country', 'start', 'end', 'duration'],
      dtype='object')

In [40]:
data.drop(columns='Span',inplace=True)

In [41]:
data.head()

,matches,innings,not outs,runs,highest score,average,balls faced,strike rate,centuries,half centuries,ducks,country,start,end,duration
0,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,India,1989,2012,23
1,404,380,41,14234,169,41.98,18048,78.86,25,93,15,Sri Lanka,2000,2015,15
2,375,365,39,13704,164,42.03,17046,80.39,30,82,20,Australia,1995,2012,17
3,445,433,18,13430,189,32.36,14725,91.2,28,68,34,Sri Lanka,1989,2011,22
4,448,418,39,12650,144,33.37,16020,78.96,19,77,28,Sri Lanka,1998,2015,17

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260 entries, 0 to 1283
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   matches         260 non-null    int64
 1   innings         260 non-null    object
 2   not outs        260 non-null    object
 3   runs            260 non-null    object
 4   highest score   260 non-null    object
 5   average         260 non-null    object
 6   balls faced     260 non-null    object
 7   strike rate     260 non-null    object
 8   centuries       260 non-null    object
 9   half centuries  260 non-null    object
 10  ducks           260 non-null    object
 11  country         260 non-null    object
 12  start           260 non-null    int32
 13  end             260 non-null    int32
 14  duration        260 non-null    int32
dtypes: int32(3), int64(1), object(11)
memory usage: 29.5+ KB

In [43]:
data['innings']=data['innings'].astype(int)

In [44]:
data[['not outs','runs','balls faced','centuries','half centuries','ducks']]=data[['not outs','runs','balls faced','centuries','half centuries','ducks']].astype(int)

In [45]:
data[['average','strike rate']]=data[['average','strike rate']].astype(float)

### Format Here

In [46]:
data=data[data['centuries']>5]

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, 0 to 146
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   matches         80 non-null     int64
 1   innings         80 non-null     int32
 2   not outs        80 non-null     int32
 3   runs            80 non-null     int32
 4   highest score   80 non-null     object
 5   average         80 non-null     float64
 6   balls faced     80 non-null     int32
 7   strike rate     80 non-null     float64
 8   centuries       80 non-null     int32
 9   half centuries  80 non-null     int32
 10  ducks           80 non-null     int32
 11  country         80 non-null     object
 12  start           80 non-null     int32
 13  end             80 non-null     int32
 14  duration        80 non-null     int32
dtypes: float64(2), int32(10), int64(1), object(2)
memory usage: 6.9+ KB

In [48]:
data.head()

,matches,innings,not outs,runs,highest score,average,balls faced,strike rate,centuries,half centuries,ducks,country,start,end,duration
0,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,India,1989,2012,23
1,404,380,41,14234,169,41.98,18048,78.86,25,93,15,Sri Lanka,2000,2015,15
2,375,365,39,13704,164,42.03,17046,80.39,30,82,20,Australia,1995,2012,17
3,445,433,18,13430,189,32.36,14725,91.20,28,68,34,Sri Lanka,1989,2011,22
4,448,418,39,12650,144,33.37,16020,78.96,19,77,28,Sri Lanka,1998,2015,17

In [49]:
data['highest score']=data['highest score'].str.replace("*","").astype(int)

In [50]:
data.drop(columns=['start','end'],inplace=True)

In [51]:
data.head()

,matches,innings,not outs,runs,highest score,average,balls faced,strike rate,centuries,half centuries,ducks,country,duration
0,463,452,41,18426,200,44.83,21367,86.23,49,96,20,India,23
1,404,380,41,14234,169,41.98,18048,78.86,25,93,15,Sri Lanka,15
2,375,365,39,13704,164,42.03,17046,80.39,30,82,20,Australia,17
3,445,433,18,13430,189,32.36,14725,91.20,28,68,34,Sri Lanka,22
4,448,418,39,12650,144,33.37,16020,78.96,19,77,28,Sri Lanka,17

In [52]:
data['not out ratio']=(data['not outs']/data['innings']).round(2)

In [53]:
data['duck rate']=(data['ducks']/data['innings']).round(2)

In [54]:
data['century frequency']=(data['centuries']/data['innings']).round(2)

In [55]:
data['century conversion rate']=np.where(
    (data['centuries'] + data['half centuries']) == 0,
    0.0,
    data['centuries'] / (data['centuries'] + data['half centuries'])
).round(2)

In [56]:
data.head()

,matches,innings,not outs,runs,highest score,average,balls faced,strike rate,centuries,half centuries,ducks,country,duration,not out ratio,duck rate,century frequency,century conversion rate
0,463,452,41,18426,200,44.83,21367,86.23,49,96,20,India,23,0.09,0.04,0.11,0.34
1,404,380,41,14234,169,41.98,18048,78.86,25,93,15,Sri Lanka,15,0.11,0.04,0.07,0.21
2,375,365,39,13704,164,42.03,17046,80.39,30,82,20,Australia,17,0.11,0.05,0.08,0.27
3,445,433,18,13430,189,32.36,14725,91.20,28,68,34,Sri Lanka,22,0.04,0.08,0.06,0.29
4,448,418,39,12650,144,33.37,16020,78.96,19,77,28,Sri Lanka,17,0.09,0.07,0.05,0.20

In [57]:
data.drop(columns=['not outs','centuries','half centuries','ducks'],inplace=True)

In [58]:
data.head()

,matches,innings,runs,highest score,average,balls faced,strike rate,country,duration,not out ratio,duck rate,century frequency,century conversion rate
0,463,452,18426,200,44.83,21367,86.23,India,23,0.09,0.04,0.11,0.34
1,404,380,14234,169,41.98,18048,78.86,Sri Lanka,15,0.11,0.04,0.07,0.21
2,375,365,13704,164,42.03,17046,80.39,Australia,17,0.11,0.05,0.08,0.27
3,445,433,13430,189,32.36,14725,91.20,Sri Lanka,22,0.04,0.08,0.06,0.29
4,448,418,12650,144,33.37,16020,78.96,Sri Lanka,17,0.09,0.07,0.05,0.20

In [59]:
data['balls faced per innings']=(data['balls faced']/data['innings']).round(2)

In [60]:
data.drop('balls faced',axis=1,inplace=True)

In [61]:
data.columns

Index(['matches', 'innings', 'runs', 'highest score', 'average', 'strike rate',
       'country', 'duration', 'not out ratio', 'duck rate',
       'century frequency', 'century conversion rate',
       'balls faced per innings'],
      dtype='object')

In [62]:
data.head()

,matches,innings,runs,highest score,average,strike rate,country,duration,not out ratio,duck rate,century frequency,century conversion rate,balls faced per innings
0,463,452,18426,200,44.83,86.23,India,23,0.09,0.04,0.11,0.34,47.27
1,404,380,14234,169,41.98,78.86,Sri Lanka,15,0.11,0.04,0.07,0.21,47.49
2,375,365,13704,164,42.03,80.39,Australia,17,0.11,0.05,0.08,0.27,46.70
3,445,433,13430,189,32.36,91.20,Sri Lanka,22,0.04,0.08,0.06,0.29,34.01
4,448,418,12650,144,33.37,78.96,Sri Lanka,17,0.09,0.07,0.05,0.20,38.33

In [63]:
data.to_csv(r"C:\Users\Rano's PC\Machine\ðŸ’»data-science-projects\cricket talent prediction\cricket data cleaned.csv",index=False)

In [64]:
data.columns

Index(['matches', 'innings', 'runs', 'highest score', 'average', 'strike rate',
       'country', 'duration', 'not out ratio', 'duck rate',
       'century frequency', 'century conversion rate',
       'balls faced per innings'],
      dtype='object')

## Creating of Model

In [65]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
numerical_cols = ['matches', 'innings', 'runs', 'highest score', 'average',
                  'strike rate', 'duration', 'not out ratio', 'duck rate',
                  'century frequency', 'century conversion rate', 'balls faced per innings']
categorical_cols = ['country']

# Build MinMaxScaler pipeline
minmax_preprocessor = ColumnTransformer([
    ('num', MinMaxScaler(), numerical_cols),
    ('cat', OneHotEncoder(), categorical_cols)
])

In [67]:
pipeline = Pipeline([
    ('preprocessor', minmax_preprocessor)
])

In [68]:
transformed_data = pipeline.fit_transform(data)

In [69]:
pipeline.fit(data)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', MinMaxScaler(),
                                                  ['matches', 'innings', 'runs',
                                                   'highest score', 'average',
                                                   'strike rate', 'duration',
                                                   'not out ratio', 'duck rate',
                                                   'century frequency',
                                                   'century conversion rate',
                                                   'balls faced per innings']),
                                                 ('cat', OneHotEncoder(),
                                                  ['country'])]))])

In [70]:
elite_transformed = pipeline.transform(data)

In [71]:
new_player_data = {
    'matches': [350],
    'innings': [297],
    'runs': [10773],
    'highest score': [183],
    'average': [50.57],
    'strike rate': [87.56],
    'country': ['India'],
    'duration': [15],
    'not out ratio': [0.28],
    'duck rate': [0.03],
    'century frequency': [0.03],
    'century conversion rate': [0.12],
    'balls faced per innings': [41.42]
}
new_player = pd.DataFrame(new_player_data)
new_player_transformed = pipeline.transform(new_player)

In [72]:
similarities = cosine_similarity(new_player_transformed, elite_transformed)[0]
average_similarity = similarities.mean()
scaled_score = round(average_similarity * 100, 2)

In [73]:
print("Cosine Similarity Talent Score (0â€“100):", scaled_score)

Cosine Similarity Talent Score (0â€“100): 59.06

In [74]:
def classify_talent_score(score):
    """
    Classify player based on cosine similarity talent score (0â€“70 scale).
    """
    if score >= 60:
        return 'Future Top Player ðŸŒŸ'
    elif score >= 50:
        return 'Promising Talent ðŸŸ¡'
    elif score >= 30:
        return 'Needs Development âšª'
    else:
        return 'Not Close Yet ðŸ”´'

In [75]:
print(classify_talent_score(scaled_score))

Promising Talent ðŸŸ¡

In [76]:
import dill  # or use pickle if preferred

# Save all necessary objects
with open("talent_model.pkl", "wb") as f:
    dill.dump({
        'pipeline': pipeline,
        'elite_data': elite_transformed,
        'countries': data['country'].unique().tolist()
    }, f)

In [77]:
import sklearn
print(sklearn.__version__)

1.7.0